.loading-div {
  position: absolute;
  left: 0px;
  top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
  /* text-align: center; */
  width: 100%;
  height: 100%;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #555;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.canvas-div {
  background-color: white;
}

.input-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 5px 0px;
  border-top: 1px solid;
  height: 100%;
}
.input-form >div {
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.MuiFormLabel-root .MuiInputLabel-root .MuiInputLabel-formControl .MuiInputLabel-animated .MuiInputLabel-outlined .Mui-focused {
    font-size: 14px;
}

.input-box {
  padding: 5px;
  margin-top:5px;
  margin-bottom:5px;
}
.color-picker-container {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.background-indicator{
  background-color: #fafafa;
  border:1px solid #ededed;
  width: 80%;
  display:flex;
  align-items: center;
  padding: 5px;
  flex-direction:row;
  justify-content: space-between;
}
.color-pallete {
    width: 20px;
    border: 1px solid #ededed;
    height: 20px;
    border-radius: 10px;
}
.css-glamorous-div--jgd0xx {
    overflow-y: auto;
}
.MuiOutlinedInput-root{
  margin:10px!important;
}
.MuiFormGroup-root.MuiFormGroup-row {
    padding: 5px 10px;
}
.MuiOutlinedInput-input {
    padding: 10px!important;
    font-size: 14px!important;
}
.form-group{
  margin-bottom: 0!important;
}
.MuiFormGroup-row {
    align-items: center!important;
}
label.MuiFormControlLabel-root.form-group {
    margin-left: 20px;
}
label#outlined-basic-label {
    font-size: 14px!important;
}
.input-form {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    border-top: 1px solid;
    height: 100%;
}
.pallete{
  position: absolute;
  background-color: white;
  z-index: 10;
}
.orientation{
  max-width: 50%;
  border: 0px;
  align-self: center;
  font-size: 12px;
  padding: 4px;
}
span.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
    font-size: 14px;
}
.MuiInputLabel-outlined.MuiInputLabel-shrink {
    transform: translate(30px, 5px) scale(0.75)!important;
}
.toggle-wrap{
  display:flex;
  flex-direction: row;
}
