.loading-div {
  position: absolute;
  left: 0px;
  top: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
  /* text-align: center; */
  width: 100%;
  height: 100%;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #555;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.canvas-div {
  background-color: white;
}

.input-form {
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-top: 1px solid;
  height: 100%;
}

.input-box {
  padding: 5px;
  margin-top:5px;
  margin-bottom:5px;
}

.MuiInputBase-root .MuiOutlinedInput-root .MuiInputBase-formControl{
  margin-top: 5px;
  margin-bottom: 5px;
}

.MuiInputBase-input .MuiOutlinedInput-input{
  padding:5px!important;
}

.PrivateNotchedOutline-legendLabelled-3 > span{
  font-size: xx-small;
}
.color-picker-container {
    padding: 10px;
    border-color: black;
    border: 1px solid #c4c4c4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.background-indicator{
  background-color: #fafafa;
  border:1px solid #ededed;
  width: 85%;
  display:flex;
  padding: 10px;
  flex-direction:row;
  justify-content: space-between;
}
.color-pallete {
    width: 20px;
    border: 1px solid #ededed;
    height: 20px;
    border-radius: 10px;
}
